/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #010409;
    color: #03640E;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 60px;
    text-align: center;
}

h1, h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #2F4538;
    margin: 10px auto;
}

p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}